.main{
    font-family: helvetica;
}
.part2{
    color: grey;
    font-size: 20px;
    padding: 4px;
}
<<<<<<< HEAD
=======

.left {
    
}

.right {
    margin-left: 1000px;
    
    
}
>>>>>>> 3e581e0ff76402cdbd6c7d9cf57f947f66e84bd3
